#card-container {
  justify-content: center;
  border: 1px solid black;
  width: 300px;
  background-color: rgb(8, 102, 92);
  color: white;
  height: 100px;
  position: relative;
  margin: 10px;
  display: inline-block;
}

